body {
    background-color: #1E1E2F;
} /* No font on body yet*/

/* Fixed Header below*/
header {
    width: 100%;
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    background-color: #1E1E2F;
    height: 88px;
}

h1 {
   font-family: 'Bungee Shade', 'Orbitron', serif ;
   color: #22D3EE;
}

#main-menu {
    background-color: #1E1E2F;
    margin-right: 5px;
    position: absolute;
    right: 20px;
    top: 4px;
}

#menu-items {
 list-style: none;
 padding-right: 44px;
 padding-top: 20px;
}

#menu-items li {
    display: inline;
}

#menu-items li a {
    text-decoration: none;
    color: #e0e0e0;
    padding-right: 18px;
    font-size: 18px;
}

#menu-items li a:hover {
    font-size: 21px;
    text-decoration: underline 1px;
    text-underline-offset: 4px;
    color: #f3aaaa;
}

hr {
    border-color: #22D3EE;
}

main {
    margin-top: 150px;
}

h2 {
    color: #e0e0e0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
    font-size: 34px;
    text-align: center;
}


#profile-box {
    border: 1px solid #e0e0e0;
    background-color: #53537227;
    border-radius: 27px;
    width: 33%;
    height: 540px;
    position: absolute;
    left: 50%;
    top: 424px;
    transform: translate(-50%, -50%);
    margin-top: 49px;
}

.img-box {
    width: 100%;
    border-radius: 20px 20px 0 0;
    background-color: #E0E0E034;   
}

.img-box span {
    padding-left: 175px;
}

.info-box {
    padding-top: 7px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
    font-size: 18px;
    color: #E0E0E0;
}

.info-box p {
    padding-left: 14px;
      padding-bottom: 9px;
}

#balance-head {
    text-align: center;
    border-top: 1px dashed #E0E0E0;
    padding-top: 13px;
}

.balance-content {
    font-size: 15px;
    background-color: #E0E0E034;
    height: 24px;
    padding-top: 12px;
}

.outside-btn {
    position: relative;
    width: 500px;   
}

.btn-prof {
    position: relative;
    top: 527px;
    left: 500px;
}

.btnLC {
    border: 1px solid #22D3EE;
    border-radius: 13px;
     background-color: #22D3EE;
}

.linkbtn {
    text-decoration: none;
    color: #E0E0E0;
}

.btn-chg {
    margin-left: 102px;
    padding: 11px 8px;
}

.btn-log {
    padding: 11px 28px;
}

/* Media Queries; MOBILE*/

@media (max-width: 767px) {
    #main-menu {
        margin-top:58px;
        margin-right: 0;
        position: absolute;
        right: 0;
    }
     #menu-items {
            padding-left: 7px;
            padding-right: 0;
        }
    #menu-items > li  > a {
            font-size: 15px;
            line-height: 23px;
        }
    #menu-items > li  > a:hover {
            font-size: 17px;
    }
    hr {
        display: none;
       }

    main {
        margin-top: 200px;
    }

    h2 {
        font-size: 25.67px;
    }
    #profile-box {
        width: 300px;
        margin-top: 90px;
    }
    .img-box {
        width: 100%;
    }
    .img-box span{
       padding-left: 108px;
    }
    .info-box {
        font-size: 15px;
    }
    .btn-prof {
        width: 60%;
      position: absolute;
      left: 75px;

    
    }
    .btn-chg {
        margin-left: 50px;
    }
}
